h1 {
    color:black;
    font-family: Futura;
    font-size: 48px;

}

p {
    color:black;
    font-family: Futura;
    font-size: 25px;
    float: left;

}

a {
    float:left;
}

body {
    background-image: url("dotted_worldmap.jpg");
    background-size: cover;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
    
} 

.active {
    background-color: darkgreen;
}


.first {
    text-align: left;
}